# ── System ────────────────────────────────────
# Absolute path to the project on your HOST machine (required for DockerOperator)
HOST_PROJECT_PATH=/home/your_user/enedis_pipeline

# ── Postgres ──────────────────────────────────
POSTGRES_USER=elt_user
POSTGRES_PASSWORD=elt_password

AIRFLOW_DB=airflow_db
DWH_DB=data_warehouse

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

# ── dbt ───────────────────────────────────────
DBT_SCHEMA=public

# ── pgAdmin ───────────────────────────────────
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin
